$header-color: #4c98a4;
$green: #00d089;
$text-color: #ffffff;


body{
    margin: 0;
}

.header {
    width: 100%;
    height: 87px;
    background: $header-color;
    display: flex;
    justify-content: center;

    .heder-content {
        height: 100%;
        width: 1024px;
        color: $text-color;
        display: flex;
        align-content: space-between;
        box-sizing: border-box;
        padding-left: 54px;
        border: 1px solid green;

        &-logo {
            border: 1px solid red;
            height: 100%;
            width: 200px;
    
        }
        &-links {
            width: 463px;
            display: flex;
            justify-content: space-between;

            .header-item {
                text-transform: uppercase;
                font-size: 18px;
                cursor: pointer;

                &.hover {
                    text-decoration: underline;
                }          
            }
        }
    }
}

.baner {
    width: 100%;
    height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
    background-image: url('../images/');
    background-attachment: cover;
    background-position: center;
    background-repeat: no-repeat;    
}