body {
  margin: 0;
}

.header {
  width: 100%;
  height: 87px;
  background: #4c98a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .heder-content {
  height: 100%;
  width: 1024px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 54px;
  border: 1px solid green;
}

.header .heder-content-logo {
  border: 1px solid red;
  height: 100%;
  width: 200px;
}

.header .heder-content-links {
  width: 463px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .heder-content-links .header-item {
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

.header .heder-content-links .header-item.hover {
  text-decoration: underline;
}

.baner {
  width: 100%;
  height: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-image: url("../images/");
  background-attachment: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=styles.css.map */